    /*****Font*****/
    
    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    /*****Variable*****/
    
     :root {
        /***** Color *****/
        --first-color: #4070F4;
        --second-color: #ffffff;
        --third-color: #000000;
        --fourth-color: #acc9f7;
        /***** Font size *****/
        --body-font: 'Raleway', sans-serif;
        --big-font-size: 2rem;
        --h2-font-size: 1.25rem;
        --normal-font-size: 0.9rem;
    }
    /*****General*****/
    
    *,
     ::before,
     ::after {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        background-color: var(--second-color);
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        color: var(--third-color);
        overflow-x: hidden;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: var(--third-color);
        width: 100%;
    }
    
    a:hover {
        color: var(--first-color);
    }
    
    h1,
    h2,
    h3 {
        color: var(--third-color);
    }
    
    p {
        color: var(--third-color);
    }
    /*****Navigation*****/
    
    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5%;
        margin-left: 2%;
        padding-right: 4%;
    }
    
    .nav__menu {
        display: flex;
        width: 30vw;
        justify-content: space-around;
        align-items: center;
    }
    
    .nav__menu li {
        height: 100%;
    }
    
    .nav__menu li:hover {
        border-top: 3px solid var(--first-color);
    }
    
    .nav__link {
        position: relative;
        top: 100%;
    }
    
    #active {
        border-top: 3px solid var(--first-color);
    }
    
    .register {
        color: blue;
        font-weight: bold;
    }
    /*****Filtre + searchBox*****/
    
    .title__container {
        margin-left: 2%;
    }
    
    .search__box {
        margin-left: 2%;
    }
    
    .search__box form {
        display: flex;
        align-items: center;
    }
    
    .bg__marker {
        position: relative;
        background-color: rgb(242, 242, 242);
        height: 60px;
        width: 60px;
        border-radius: 25px 0 0 25px;
    }
    
    .bg__marker i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--third-color);
        font-size: 1.3rem;
    }
    
    input {
        display: inline-block;
        font-size: 1.2rem;
        box-sizing: border-box;
        border: 1px solid rgb(242, 242, 242);
        padding: 1%;
    }
    
    input::placeholder {
        color: var(--third-color);
    }
    
    input[type="submit"] {
        border-radius: 0 25px 25px 0;
        background-color: var(--first-color);
        color: var(--second-color);
        cursor: pointer;
    }
    
    .filter {
        display: flex;
        align-items: center;
        width: 70vw;
        justify-content: space-around;
        margin-left: 2%;
        margin-top: 2%;
    }
    
    .border__filter {
        display: flex;
        align-items: center;
        border: 1px solid rgb(192, 192, 192);
        border-radius: 50px;
        width: 15vw;
        height: 5vh;
    }
    
    .border__filter:hover {
        background: linear-gradient(to right, var(--second-color), var(--fourth-color));
        box-shadow: 10px 5px 5px rgba(21, 21, 21, 0.5);
    }
    
    .border__filter span {
        text-align: center;
    }
    
    .circle__box {
        position: relative;
        background-color: var(--fourth-color);
        width: 15%;
        height: 100%;
        border-radius: 50%;
        margin-right: 15%;
    }
    
    .filter__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--first-color);
    }
    
    .information__container {
        display: flex;
        align-items: center;
        margin-top: 2%;
        margin-left: 2%;
    }
    
    .circle__info {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid grey;
    }
    
    .circle__info i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--first-color);
    }
    
    .info {
        color: grey;
        margin-left: 1%;
    }
    /*****Section hebergement*****/
    
    #hebergement {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 3%;
    }
    
    .product__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius: 25px 25px 25px 25px;
        background-color: rgb(242, 242, 242);
        width: 60%;
        height: 80%;
        padding: 4%;
    }
    
    .product__content {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 50vh;
        border-radius: 25px 25px 25px 25px;
        background-color: var(--second-color);
        box-shadow: 0px 0px 10px 4px rgba(177, 173, 173, 0.75);
        -webkit-box-shadow: 0px 0px 10px 4px rgba(177, 173, 173, 0.75);
        margin-top: 4%;
        padding: 1%
    }
    
    .product__content a {
        height: 100%;
        width: 100%;
    }
    
    .content__picture {
        position: relative;
        width: 100%;
        height: 50%;
        border-radius: 25px 25px 0 0;
        overflow: hidden;
    }
    
    .content__picture img {
        width: 120%;
        height: 100%;
        object-position: 30% 70%;
        object-fit: cover;
    }
    
    .product__container h1 {
        width: 100%;
    }
    
    .product__container a {
        width: 100%;
        margin-top: 4%;
        font-weight: bold;
    }
    
    .popular__container {
        width: 30%;
        border-radius: 25px 25px 25px 25px;
        background-color: rgb(242, 242, 242);
        padding: 4%;
    }
    
    .popular__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .popular__title i {
        font-size: 1.4rem;
    }
    
    .popular__content {
        display: flex;
        width: 100%;
        height: 25%;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0px 0px 10px 4px rgba(177, 173, 173, 0.75);
        -webkit-box-shadow: 0px 0px 10px 4px rgba(177, 173, 173, 0.75);
        padding: 1%;
        margin-top: 15%;
    }
    
    .popular__content img {
        width: 40%;
        border-radius: 25px 0px 0px 25px;
        object-fit: cover;
    }
    
    .popular__content .description {
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 3%;
    }
    
    .blue__star {
        color: var(--first-color);
    }
    
    .grey__star {
        color: rgba(177, 173, 173, 0.75);
    }
    /*****Section Activités*****/
    
    #activites {
        width: 100%;
        height: 75vh;
        margin-top: 5%;
    }
    
    #activites h1 {
        margin-left: 5vw;
    }
    
    .activities__container {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .activities__box {
        width: 20vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .activities__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0px 0px 10px 4px rgba(177, 173, 173, 0.75);
        -webkit-box-shadow: 0px 0px 10px 4px rgba(177, 173, 173, 0.75);
    }
    
    .activities__content h3 {
        margin-left: 10%;
    }
    
    .mosaic__XL {
        height: 100%;
    }
    
    .mosaic__XL img {
        object-fit: cover;
        height: 80%;
        border-radius: 25px 25px 0 0;
    }
    
    .mosaic__sm {
        height: 45%;
    }
    
    .mosaic__sm img {
        object-fit: cover;
        height: 70%;
        border-radius: 25px 25px 0 0;
    }
    /*****Footer*****/
    
    footer {
        display: flex;
        justify-content: space-between;
        padding-left: 2%;
        padding-right: 30%;
        padding-bottom: 2%;
        background-color: rgb(242, 242, 242);
        width: 100%;
    }
    
    .footer__container {
        display: flex;
        flex-direction: column;
    }
    
    .footer__container a {
        margin-bottom: 10%;
    }
    /*****Responsive*****/
    
    @media screen and (max-width: 640px) {
        #hebergement {
            display: flex;
            flex-direction: column-reverse;
        }
        .product__container {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .product__content {
            width: 100%;
        }
        .popular__container {
            position: relative;
            width: 100%;
        }
        .popular__content {
            height: 250px;
        }
        .activities__container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .activities__box {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 5%;
        }
        .mosaic__XL {
            height: 250px;
            margin-bottom: 5%;
        }
        .mosaic__sm {
            height: 250px;
            margin-bottom: 5%;
        }
        #activites {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        footer {
            display: flex;
            flex-direction: column;
        }
    }